body {
    background: grey;
}


.aboutme  h5{
    color: lightblue;
}


.main-content {
    background:white;
    margin-top: 25px;
    padding:20px;
    padding-top:15px;
    float: left;
}
.navlink {
    right:33.3%;
}
.main-content3 {background:grey;
    margin-top: 25px;
    padding:20px;
    padding-top:15px;
    color:white;
}

.main-content2{
    background:white;
    margin:20px;
    padding:20px;
}

.img-thumbnail {
    border:10px;
}